.cardbuilder-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    width: 500px;
}

.form {
    margin-right: 8px;
    padding: 5px;
}

label, label.small {
    margin: auto;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 13px;
}

label.small {
    font-size: 11px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: 1px solid gray;
    padding: 5px;
}

input.slider {
    padding: 0px;
    margin-top: 0px;
}

datalist {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 10px;
    margin-bottom: -4px;
    font-weight: bold;
}

.slider-container {

}

input.number {
    width: 30px;
}

button.form {
    width: 20px;
    height: 20px;
    border: 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: white;
    font-weight: bold;
}

button.add {
    background-color: green;
}

button.remove {
    background-color: rgb(197, 31, 2);
}

.builder-keywords {
    
}

.builder-keyword {

}

.builder-keyword input {
    padding: 2px;
}

.builder-keyword .title {
    width: 80px;
}

.builder-upgrades select {
    width: 50px;
    margin-right: 10px;
}

.builder-keyword .description {

}

.form.attackdice {
    font-size: 10px;
}