.card-unit {
    position: relative;
    /*
    height: 62mm;
    width: 88mm;
    */
    height: 63mm;
    width: 92mm;
    /*border: 2px solid rgb(56, 225, 255);*/
    box-sizing: border-box;
    margin: 5px;
}

img.mall {
    position: absolute;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

text, p {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.icon {
    font-family: SWLEGION;
}

.icon.large {
    font-size: 24px;
}

.icon.small {
    font-size: 20px;
}

.white {
    color: white;
}

.black {
    color: black;
}

p.title {
    width: 40%;
    position: absolute;
    text-align: center;
    font-size: 14px;
    top: 5px;
    left: 70px;
}

p.title.unique::before {
    content:"• ";
}

/* --- Unit types --- */
.unittype {
    position: absolute;
    top: 1px;
    right: 82.5px;
}

p.unitcount {
    position: absolute;
    right: 89.5px;
    top: 20px;
    font-size: 10px;
    font-weight: 100;
    color:white;
}

/* --- Unit image --- */
.unitimage {
    position: absolute;
    height: 64px;
    width: 81px;
    object-fit: cover;
    top: 0;
    right: 0;
}

/* --- UPGRADES --- */
.upgrades {
    position: absolute;
    top: 46px;
    left: 1px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.upgrade {
    margin-bottom: 1px;
}

/* --- Stats --- */
p.hpstats {
    font-size: 20px;
    right: -15px;
    top: 0px;
}

.health, .health-points {
    position: absolute;
    right: 22px;
    top: 76px;
    color: rgb(0, 185, 0);
}

.health::before {
    content: "\004c";
}

.courage, .courage-points, .damage, .damage-points {
    position: absolute;
    right: 22px;
    top: 98px;
    color: rgb(255, 208, 22);
}

.damage, .damage-points {
    position: absolute;
    right: 22px;
    top: 98px;
    color: rgb(243, 146, 29);
}

.courage::before {
    content: "\006d";
}
.damage::before {
    content: "\0056";
}

/* --- SURGES --- */
.surge {
    position: absolute;
    height: 15px;
    object-fit: cover;
}

.surge.attack {
    top:130px;
    right: 0px;
}
.surge.defence {
    top:144px;
    right: 0px;
}

/* --- KEYWORDS --- */
.keywords {
    position: absolute;
    top: 30px;
    left: 33px;
    max-width: 225px;
}
.keyword.first {
    max-width: 200px;
}
.keyword {
    display: inline-block;
    line-height: 0.8;
}

.keyword-title {
    font-size: 10px;
    font-weight: bold;
    margin-right: 5px;
}

.keyword-description {
    font-size: 9.5px;
    font-style: italic;
}

/* --- Movementspeed --- */
.movementspeed {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 65.6px;
    left: 293px;
}

.speed {
    height: 6.4px;
}

/* --- WEAPONS --- */
.weaponsarea {
    position: absolute;

    display: flex;
    flex-direction: row;

    height: 64px;
    width: 322px;

    bottom: 0px;
    left: 26px;

    /*background-color: rgb(8, 0, 255, 0.5); */
}

.weaponsarea-image {
    position: absolute;

    height: 100%;
    width: 100%;
    object-fit: cover;

    bottom: 0px;
    left: 0px;

    /*background-color: rgb(8, 0, 255, 0.5); */
}