.dice {
    font-family: SWLEGION;
    position: absolute;
}

.dice.white {
    color: white;
}

.dice.red {
    color: rgb(167, 14, 14);
}

.dice.black {
    color: rgb(20, 20, 20);
}

/* --- DEFENCE --- */

.dice.defence {
    top: 92px;
    right: 50px;
}

.dice.defence.red::after {
    content: "\0045";
    color: rgb(167, 14, 14);
    font-weight: normal;
}

.dice.defence.red::before {
    content: "\0044";
    position: absolute;
    color: white;
    font-weight: bold;
}

.dice.defence.white::after {
    content: "\0045";
    color: white;
    font-weight: normal;
}

.dice.defence.white::before {
    content: "\0044";
    position: absolute;
    color: rgb(167, 14, 14);
    font-weight: bold;
}
