:root {
  --sw-blue-light: rgb(75, 103, 197);
}

body {
  margin: 0px;
}

/* Fira Sans Regular */
@font-face {
  font-family: "SWLEGION";
  src: url('./resources/Legionfont0.1.4.ttf');
}

@font-face {
    font-family: "weapons"; /* AeroMatics */
    src: url('./resources/fonts/AeroMaticsRegular.ttf');

    font-family: "description"; /* Mignon-MediumIt */
    src: url('./resources/fonts/Mignon-MediumIt.otf');

    font-family: "title"; /* Mignon-MediumIt */
    src: url('./resources/fonts/Oxanium-ExtraBold.ttf');
}

.font-description {
  font-family: description;
}

.font-title {
  font-family: title;
}

.font-weapon {
  font-family: weapons;
}


@media screen {

  
}

@media print {
  .noprint {
    display: none !important;
  }
}
