.commander::before {
    content: "\0035";
}

.operative::before {
    margin-right: 0.1px;
    font-size: 13px;
    content: "\0037";
}

.trooper::before {
    font-size: 13px;
    margin-right: 4px;
    content: "\0036";
}

.special::before {
    margin-right: 0.1px;
    font-size: 13px;
    content: "\0037";
}

.support::before {
    margin-right: 4.4px;
    font-size: 15px;
    content: "\0038";
}

.heavy::before {
    font-size: 15px;
    content: "\0039";
}